@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans: 100,300,400|Roboto:100,300,400,500,700');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    background-color: #fffcfc;
}

a {
    text-decoration: none;
    color: #333;
}

.logo-bar {
    padding: 25px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
   color: #3f3f3f;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 0 50px 0;
    
}

.nav-items__item {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    letter-spacing: 1.4px;
}

.nav-items__item.title {
    font-size: 45px;
    font-weight: 600;
    color: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 14px !important;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 1.3px;
}

.tiles {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 50px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    transition: 1s ease;
    cursor: pointer;
    padding: 25px;
    min-height: 393px;
}

.tile--big {
    background-color: #aaa;
    grid-row: span 2;
    grid-column: span 2;
    
}

.tile--wide {
    background-color: #555;
    grid-column: span 3;
}

.slide--up {
    transform-origin: bottom;
}

.slide--up:hover {
    transform: scaleY(1.025);
}

.slide--right {
    transform-origin: left;
}

.slide--right:hover {
    transform: scaleX(1.05);
}

.slide--left {
    transform-origin: right;
}

.slide--left:hover {
    transform: scaleX(1.05);
}

.slide--down {
    transform-origin: top;
}

.slide--down:hover {
    transform: scaleY(1.05);
}

.tile__title {
    font-size: 45px;
    color: #333;
    opacity: 1;
    transition: .5s ease;
    letter-spacing: 10px;
    font-weight: 300;
    text-align: center;
}

.tile-image {
    width: 100%;
    height: auto;
}

.stagehand {
    background-color: #C7F3E0;
}

.resume {
    background-color: #FF8a93;
}

.about {
    background-color: #FFF275;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: #333;
}

.icon {
    margin: 0 10px;
    cursor: pointer;
}

.icon:hover {
    transform: rotate(360deg);
    transition: .5s ease;
}

.work-header {
    background-color: #c7f3e0;
    width: 100%;
    margin-bottom: 10px;
    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 25px;
}

.intro-container {
    max-width: 1400px;
}

.nav-links {
    position: absolute;
    right: 20px;
    top: 35px;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 100;
}

.nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.back {
    position: absolute;
    left: 25px;
    margin-top: 15px;
}

.only-on-mobile {
    display: none;
}

.center-vertically {
    display: flex;
    justify-content: center;
}

.center-both {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-banner {
    background-color: #fcf6fe;
}

.case-study-titles {
    text-align: center;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.titles-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titles-left .title {
    margin-right: 15px;
}

.titles-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles-right .role {
    display: block;

}

.case-study-title {
    color: #333;
    display: inline-block;
}

.title {
    font-size: 65px;
}

.second-title {
    font-weight: 300;
    font-size: 50px;
}

.roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.role {
    font-weight: 400;
    font-size: 25px;
}

.container-section {
    display: flex;
}

.reverse {
    flex-direction: row-reverse !important;
}

.overview {
    margin-top: 50px;
}

.overview-section {
    width: 50%;
    min-height: 300px;
}

.overview-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.paragraph {
    font-weight: 300;
    margin: 20px 0;
    padding-left: 20px;
    line-height: 1.8em;
}


.overview-image {
    height: auto;
    max-height: 50%;
    width: 75%;
    text-align: center;
    margin: 5px auto;
}

.section-header {
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}

.section-subtitle {
    font-weight: 300;
    text-align: center;
    margin: 10px 0 40px 0;
    font-size: 25px;
}


.research-section {
    width: 50%;
    min-height: 300px;
}

li {
    font-weight: 700;
}

.research-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.research-image {
    margin: 20px 0;
}

.research-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-survey-image {
    width: 48%;
    height: auto;
}

.half-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
}

.list {
    list-style: none;
}

.list li {
    margin: 15px 0;
}

.persona-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px auto;
}

.stories {
    background-color: #d6ecef;
    padding: 70px;
    margin-bottom: 70px;
}

.stories h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.stories h2 {
    font-size: 30px;
    font-weight: 400;
}

.stories h3 {
    font-size: 20px;
    font-weight: 400;
}

.stories p {
    opacity: 0.8;
}

.story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quarter-section {
    width: 25%;
}

.third-section {
    width: 33%;
}

.two-third-section {
    width: 67%;
}

.padding-small {
    padding: 15px;
}

.padding-medium {
    padding: 25px;
}

.three-quarter-section {
    width: 75%;
    flex-direction: column;
    padding: 0 10%;
}

.story-section {
    justify-content: space-between;
    margin: 30px 0;
}

.story-section p {
    margin-bottom: 10px;
}

.design-image {
    width: 100%;
    height: auto;
}

.branding-image {
    margin: 40px auto;
}

.branding-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    margin: 0 auto;
}

.logo-section {
    margin: 80px 0;
}

.logo-image {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.palette-color {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.palette-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}

.palette-description {
    margin: 5px 0;
    min-width: 150px;
    text-align: center;
}

.orange {
    background-color: #ff4d00;
}

.black {
    background-color: #1d1c1c;
}

.white {
    background-color: #f4f4ef;
}

.pink {
    background-color: #e7a3f8;
}

.neutral-black {
    background-color: #2b2b2b;
}

.blue {
    background-color: #70c3c9;
}

hr {
    margin: 10px 0 20px 0;
}

.strike-out {
    margin: 15px 0;
    max-width: 50px;
    background-color: #333;
    border: none;
    height: 1px;
}

.typography {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.moodboard-header {
    margin-top: 70px;
}

.moodboard-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 40px 0;
}

.high-fidelity-mockups {
    margin: 50px;
}

.mockup-image {
    max-width: 100%;
    display: block;
    margin: 50px auto;
}

.prototype-link {
    color: blue;
    text-decoration: underline;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .case-study-title.title {
        font-size: 40px;
    }

    .case-study-title.second-title {
        font-size: 30px;
    }

    .only-on-desktop {
        display: none;
    }

    .only-on-mobile {
        display: inline;
    }

    .nav-container {
        justify-content: center;
    }

    .overview-images {
        /* flex-direction: row; */
        margin-bottom: 30px;
    }

    .overview-section,
    .research-section,
    .user-survey-image,
    .half-section,
    .quarter-section,
    .three-quarter-section,
    .third-section,
    .two-third-section {
        width: 100%;
    }

    .palette-section {
        width: 100px;
        margin: 50px auto;
    }

    .overview-image {
        width: 90%;
        height: auto;
    }

    .container-section,
    .reverse {
        flex-direction: column !important;
    }

    .research-images {
        margin-bottom: 30px;
    }

    .story-title {
        margin-bottom: 10px;
    }

    .pink-on-desktop {
        background-color: inherit;
    }

    .typography {
        font-size: 35px;
    }

    .palette-title,
    .palette-subtitle,
    .typography-subtitle {
        text-align: center;
    }

    .palette-title {
        font-size: 35px;
        margin-top: 50px;
    }

    .palette-subtitle {
        font-size: 25px;
    }
}


@media only screen and (max-width: 1250px) {
    .tiles {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 25px auto;
    }

    .tile--wide {
        grid-column: span 2;
    }

    .slide--up:hover, .slide--right, .slide--down, .slide--left {
        transform: none !important;
    }
}

.small-header {
    font-size: 22px;
}

.about-container {
    padding: 60px;
    line-height: 1.5em;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.about-back {
    position: absolute;
    left: 20px;
    bottom: 35px;
}

.about-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-image {
    width: auto;
    max-height: 500px;
    height: 100%;
    margin: 12.5px;
}

.about-content {
    font-size: 1.1em;
}

.only-on-mobile-about {
    display: none;
}

@media only screen and (max-width: 600px) {
    .about-container {
        padding: 60px 25px;
    }

    .images {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .only-on-mobile-about {
        display: inline;
    }
}


@media only screen and (max-width: 650px) {
    .logo-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tiles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .tile {
        grid-row: span 1;
    }

    .tile--wide {
        grid-column: span 1;
    }

    .tile--big {
        grid-column: span 1;
    }

    .option {
        display: none;
    }
}